@model IEnumerable<BLL.DTO.UserDTO>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Статистика", "IndexAdmin", "Tests", new { User_id = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Удалить ", "Delete", new { id = item.Id }, null)
        </td>

    </tr>
    }

</table>
