@model PL.Models.QuestionViewModel
<h2></h2>
    @Html.ActionLink("Создать ответ", "Create", "Answers", new { id = Model.Question_ID }, null)

<table class="table">
    @foreach (var item in Model.Answers)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISCorrect)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", "Answers", new { id = item.Answer_ID }, null) |
            @Html.ActionLink("Детали", "Details", "Answers", new { id = item.Answer_ID }, null) |
            @Html.ActionLink("Удалить", "Delete", "Answers", new { id = item.Answer_ID }, null)
        </td>
    </tr>
    }

</table>
@Html.ActionLink("Вернуться к списку вопросов", "Details", "Tests", new { id = Model.Test_ID }, null)

