@model IEnumerable<PL.Models.AnswerViewModel>


    <p>
        @Html.ActionLink("Создать вопрос", "Create")


        @foreach (var item in Model) {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit"/* new { id = item.Question_ID }*/) |
                @Html.ActionLink("Ответы", "Details","Questions"/* new { id = item.Question_ID }*/) |
                @Html.ActionLink("Удалить", "Delete"/*, new { id = item.Question_ID }*/)
            </td>
        </tr>
        }

        </table>
