@model PL.Models.TestViewModel



<p>
</p>
<p>
    @Html.ActionLink("Создать вопрос", "Create", "Questions", new { id = Model.Test_ID}, null)
</p>
<table class="table">
    @foreach (var item in Model.Questions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", "Questions", new { id = item.Question_ID }, new { Test_ID = Model.Test_ID }) |
                @if (!item.ISFULL) {
                @Html.ActionLink("Список ответов", "Details", "Questions", new { id = item.Question_ID }, null) <span>|</span>}
                @Html.ActionLink("Удалить", "Delete", "Questions", new { id = item.Question_ID }, null)
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Вернуться к списку тестов", "Index")
