@model PL.Models.AnswerViewModel


<h3>Вы уверены что хотите удалить ответ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISCorrect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISCorrect)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку ответов", "Details", "Questions", new { id = Model.Question_ID }, null)
        </div>
    }
</div>
