@model PL.Models.AnswerViewModel


<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISCorrect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISCorrect)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Answer_ID }) |
    @Html.ActionLink("Вернуться к списку ответов", "Details", "Questions", new { id = Model.Question_ID }, null)
</p>
