@model PL.Models.IndexViewModel
@using Final_Project.Util
<div style="padding-top: 3%">
    @using (Ajax.BeginForm("TestSearch", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" />
    }
    <div id="results"></div>
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
</div>
<table class="table">
    <tr>
        <th>
            Тема
        </th>
        <th>
            Время на прохождения
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Tests)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeForTest)
            </td>
            <td>
                @Html.ActionLink("Начать", "Index", "Test", new { id = item.Test_ID }, null) |
                @Html.ActionLink("Статистика", "Result", new { Test_id = item.Test_ID }, null)
            </td>
        </tr>
    }

</table>


<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>