@model IEnumerable<PL.Models.TestViewModel>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeForTest)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeForTest)
            </td>
            <td>
                @Html.ActionLink("Start", "Index", "Test", new { id = item.Test_ID }, null) |
                @Html.ActionLink("Statistic", "Result", new { Test_id = item.Test_ID }, null)
            </td>
        </tr>
    }

</table>


